@use "../../variables" as *;

.news {
  display: flex;
  flex-direction: column;
  & > .news-contents-wrapper {
    border: solid 1px $gray_gainsboro;
    & > :not(:last-child) {
      border-bottom: solid 1px $gray_gainsboro;
    }
    & > .news-content {
      padding: 20px;
      & > .date {
        font-size: $fontsize-xs;
        color: $gray_nobel;
        padding-bottom: 10px;
      }
      & > .news-title {
        font-size: $fontsize-m;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
