@use "../../variables" as *;

.news {
  width: 460px;
  & > .news-header {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    & > h2 {
      font-weight: 400;
      font-size: $fontsize-xxl;
      font-family: $fontfamily-mincho;
      padding-right: 16px;
    }
    & > span {
      font-size: $fontsize-m;
    }
  }
  & > .news-contents-wrapper {
    border: solid 1px $gray_gainsboro;
    & > :not(:last-child) {
      border-bottom: solid 1px $gray_gainsboro;
    }
    & > .news-content {
      padding: 20px;
      & > .date {
        font-size: $fontsize-xs;
        color: $gray_nobel;
        padding-bottom: 10px;
      }
      & > .news-title {
        font-size: $fontsize-m;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  & > .news-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
  }
}
