@use "../../variables" as *;
.about_wrapper {
  & > .container {
    & > .row {
      & > .col {
        padding: 0;
        & > img {
          width: 100%;
        }
      }
    }
    & > .row:last-child {
      display: flex;
      justify-content: center;
      background-color: $white_smoke;
      & > .wrap_message {
        & > .message_title {
          color: $orange_bistre;
        }
      }
    }
  }
}
